*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 1rem;
  --font-sans: "Helvetica Neue", Helvetica, sans-serif;
  --color-text: #000;
  --page-padding: 0.75rem;
  --grid-gap: var(--page-padding);
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
