*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 1rem;
  --font-sans: "Helvetica Neue", Helvetica, sans-serif;
  --color-text: #000;
  --color-gray: #999999;
  --color-light-gray: #dddddd;
  --page-padding: 0.75rem;
  --grid-gap: 0.75rem;
  --section-gap: 6rem;
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
}

thead > tr {
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

tbody > tr {
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-light-gray);
  padding: 0.25rem 0;
}

th,
td {
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}

.container {
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.header {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;

  margin-bottom: var(--section-gap);
}

.header__nav {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
}

.header__links {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
}

.header__link {
  font-weight: 500;
  text-transform: uppercase;
}

.hero {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
  margin-bottom: var(--section-gap);
}

.hero__container {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}

.hero__text {
  grid-column: 1 / 3;
  font-size: 2rem;
  line-height: 1.2;
  text-wrap: pretty;
}

.hero__links {
  grid-column: 4 / 5;
}

.featured-projects {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}

.featured-projects__container {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}

.featured-projects__media {
  grid-column: 4 / 5;
}

.featured-projects__table {
  grid-column: 1 / 4;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.featured-projects__table-body {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.featured-projects__table-head {
  display: none;
}

/* Align table columns to parent grid */
.featured-projects__table-row > td,
.featured-projects__table-row > th {
  width: calc(100% / 3);
}
